/bigDiff.class
/centeredAverage.class
/countEvens.class
/either24.class
/evenOdd.class
/fizzArray.class
/fizzArray2.class
/fizzArray3.class
/fizzBuzz.class
/has12.class
/has22.class
/has77.class
/haveThree.class
/isEverywhere.class
/lucky13.class
/matchUp.class
/modThree.class
/more14.class
/no14.class
/notAlone.class
/only14.class
/post4.class
/pre4.class
/sameEnds.class
/shiftLeft.class
/sum13.class
/sum28.class
/sum67.class
/tenRun.class
/tripleUp.class
/twoTwo.class
/withoutTen.class
/zeroMax.class
