/bobThere.class
/catDog.class
/countCode.class
/countHi.class
/doubleChar.class
/endOther.class
/getSandwich.class
/mixString.class
/oneTwo.class
/plusOut.class
/prefixAgain.class
/repeatEnd.class
/repeatFront.class
/repeatSeparater.class
/sameStarChar.class
/starOut.class
/wordEnds.class
/xyBalance.class
/xyzMiddle.class
/xyzThere.class
/zipZap.class
