/atFirst.class
/comboString.class
/conCat.class
/deFront.class
/endsLy.class
/extraEnd.class
/extraFront.class
/firstHalf.class
/firstTwo.class
/frontAgain.class
/hasBad.class
/helloName.class
/lastChars.class
/lastTwo.class
/left2.class
/makeAbba.class
/makeOutWord.class
/makeTags.class
/middleThree.class
/middleTwo.class
/minCat.class
/nTwice.class
/nonStart.class
/right2.class
/seeColor.class
/startWord.class
/theEnd.class
/twoChar.class
/withouEnd2.class
/without2.class
/withoutEnd.class
/withoutX.class
/withoutX2.class
