/biggerTwo.class
/commonEnd.class
/double23.class
/firstLast6.class
/fix23.class
/front11.class
/frontPiece.class
/has23.class
/make2.class
/makeEnds.class
/makeLast.class
/makeMiddle.class
/makePi.class
/maxEnd3.class
/maxTriple.class
/midThree.class
/middleWay.class
/no23.class
/plusTwo.class
/reverse3.class
/rotateLeft3.class
/sameFirstLast.class
/start1.class
/sum2.class
/sum3.class
/swapEnds.class
/unlucky1.class
