/backAround.class
/close10.class
/delDel.class
/diff21.class
/endUp.class
/everyNth.class
/front22.class
/front3.class
/frontBack.class
/hasTeen.class
/icyHot.class
/in1020.class
/in3050.class
/intMax.class
/lastDigit.class
/loneTeen.class
/makes10.class
/max1020.class
/missingChar.class
/mixStart.class
/monkeyTrouble.class
/nearHundred.class
/notString.class
/or35.class
/parrotTrouble.class
/posNeg.class
/sleepIn.class
/startHi.class
/startOz.class
/stringE.class
/sumDouble.class
