/alarmClock.class
/answerCell.class
/blueTicket.class
/caughtSpeeding.class
/cigarParty.class
/dateFashion.class
/fizzString.class
/fizzString2.class
/greenTicket.class
/in1To10.class
/inOrder.class
/inOrderEqual.class
/lastDigit.class
/less20.class
/lessBy10.class
/love6.class
/maxMod5.class
/more20.class
/nearTen.class
/old35.class
/redTicket.class
/shareDigit.class
/sortaSum.class
/specialEleven.class
/squirrelPlay.class
/sumLimit.class
/teaParty.class
/teenSum.class
/twoAsOne.class
/withoutDoubles.class
